{inc:header}
<!--trackBody开始-->
<div id="bodyLeft">
    <!--正文开始-->
    <div id="post">
        <h2 class="arttitle"><a rel="bookmark" title="Permanent Link to {$atl['name']}"  href="{$weburl}{$atl['staticurl']}">{$atl['name']}</a></h2>
        <!--文章内容开始-->
        <div id="content">{$atl['content']}</div>
        <!--文章内容结束-->
        <div id="postDetal">
            发布时间：{run:}echo date("Y-m-d",$atl['times']);{/run}<span></span>
            类别：<a href="{$cats[$atl['cat']]['staticurl']}">{$cats[$atl['cat']]['name']}</a><span></span>
            阅读：{$atl['views']}<span></span>
            评论：{$atl['cmtcount']}<span></span>
            标签：{run:}$tagarray=explode(',',$atl['tags']);{/run}<!-- $tagarray AS $tag --><a href="{weburl}?tag={run:}echo urlencode($tag);{/run}">{tag}</a> <!-- END --> 
        </div>
        <!--文章内容底部广告开始-->

        <!--文章内容底部广告结束-->
    </div>
    <!--正文结束-->
    <div class="npPost">
        <p>上一篇：<!-- IF[$upart] --><a href="{$weburl}{$upart['staticurl']}">{$upart['name']}</a><!-- ELSE -->没有了<!-- END --></p>
        <p>下一篇：<!-- IF[$downart] --><a href="{$weburl}{$downart['staticurl']}">{$downart['name']}</a><!-- ELSE -->没有了<!-- END --></p>
        <div class="clear"></div>
    </div>
    <!-- IF[$atl['allowcmt']==1] -->{inc:comments}<!-- END -->
</div>
{inc:sidebar}
{inc:footer}