<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <!-- if($addtitle=='')-->
    <title>{$webname}</title>
    <!-- else -->
    <title>{$addtitle} - {$webname}</title>
    <!-- end -->
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="stylesheet" href="{CSS}index.css" type="text/css" />
</head>
<body>
    <div id="trackBody">
        <!--title-->
        <div id="topTitle">
            <h1><a href="{$weburl}" class="basetitle" title="{$webname}">{$webname}</a></h1>
            <p>{$webinfo}</p>
        </div>
        
        <!--导航开始-->
        <div id="nav">
            <li id="home"><a href="{$weburl}"  >首页</a></li>
            <!-- list:category|status=1|20|orders DESC-->
            <li class="page_item"><a  href="{$weburl}{$list['staticurl']}" >{$list['name']}</a></li>
            <!-- END -->
            <div class="clear"></div>
        </div>