<span id="goTop" style="display: none;">Nach oben</span>
<div id="footer">
    <ul>

    </ul>
</div>
<!-- if(EDITORHL == 2) -->
<link type="text/css" rel="stylesheet" href="{CSS}ueditor_brush.css"/>
<script type="text/javascript" src="{JS}ueditor_brush.js"></script>
<script>SyntaxHighlighter.all();</script>
<!-- end -->
<!-- if(EDITORHL == 3) -->
<link type="text/css" rel="stylesheet" href="{CSS}kindeditor_brush.css"/>
<script type="text/javascript" src="{JS}kindeditor_brush.js"></script>
<script>prettyPrint();</script>
<!-- end -->
<!-- if(EDITORHL == 4) -->
<link type="text/css" rel="stylesheet" href="{CSS}ueditor_brush.css"/>
<script type="text/javascript" src="{JS}ueditor_brush.js"></script>
<script>SyntaxHighlighter.all();</script>
<link type="text/css" rel="stylesheet" href="{CSS}kindeditor_brush.css"/>
<script type="text/javascript" src="{JS}kindeditor_brush.js"></script>
<script>prettyPrint();</script>
<!-- end -->
</body>
</html>