{inc:header}
    <div id="wrapper">
        <!-- $articles AS $atl -->
        <div class="section text">
            <div class="teaser">
                <a class="tIco portfolio" href="{$atl['staticurl']}"></a>
                <h1><a title="{$atl['name']}" href="{$atl['staticurl']}" target="_blank">{$atl['name']}</a></h1>
                <div class="textcontent rich-content">
                    <h2>
                        {date("Y-m-d",$atl['times'])}
                    </h2>
                    <p>
                        {$atl['content']}
                    </p>
                </div>
            </div>
        </div>
        <!-- end -->
        <div class="navigation">
            <!-- if($page!=0) --><div class="floatLeft"><a href="{$weburl}{$path}&p={$uppage}">&laquo; 上一页</a></div><!-- end -->
            <!-- if($downpage!=$page) --><div class="floatRight"><a href="{$weburl}{$path}&p={$downpage}">下一页 &raquo;</a></div><!-- end -->
        </div>
    </div>
{inc:footer}