*, img, span, p, div, a, h1, h2, h2 { margin: 0; padding: 0; }
body, html { word-break: break-word; }
a:focus { outline: none; }
img, a img, iframe, input { margin: 0; padding: 0; border: none; }
a, a:link, a:hover { }
ul, li { margin: 0; padding: 0; list-style: none; }

fieldset { border: 1px solid #000; }
input { margin: 0; padding: 0; font-size: 100%; font-family: inherit; }
select { padding: 0; }
@font-face { font-family: 'MisoRegular'; src: url('http://x.libdd.com/farm1/eeb29b/a4413d51/miso-regular-webfont.eot'); src: url('http://x.libdd.com/farm1/eeb29b/09a06a77/miso-regular-webfont.woff') format('woff'), url('http://x.libdd.com/farm1/eeb29b/d84cea91/miso-regular-webfont.ttf') format('truetype'), font-weight: normal; font-style: normal; }
body, html { color: white; font-family: 'OpenSansRegular', Arial, sans-serif; font-size: 13px; line-height: 22px; text-align: left; background: #2a2f31; word-wrap: break-word; word-break: break-all; }
h1 strong { display: none; font-weight: 400; }
h1 #first { display: block; }
a, a:visited { color: white; text-decoration: underline; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; }
#start { height: 370px; }
#intro { height: 270px; background: #2a2f31; position: relative; }
    #intro #introCnt { height: 270px; z-index: 10; }
    #intro h1 { margin: 0; padding: 0; width: auto; position: absolute; left: 215px; }
        #intro h1#name { color: white; font-size: 20px; line-height: 22px; top: 130px; }
        #intro h1#ticker { color: #6d7a80; font-size: 16px; line-height: 16px; top: 155px; }
#header { height: 60px; font-family: Arial, san-serif; font-size: 12px; text-transform: uppercase; background: #25292b; background: rgba(20,20,20,0.2); border-top: 3px solid #2a2f31; overflow: hidden; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; }
    #header ul { margin-top: 15px; }
        #header ul#navLeft { margin-left: 45px; float: left; }
        #header ul li { display: inline-block; *display: inline; zoom: 1; margin-right: 10px; }
            #header ul li a { padding: 2px 6px; color: white; line-height: 30px; text-decoration: none; text-transform: uppercase; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; }
#wrapper { margin: 0 45px; width: auto; position: relative; }
.section { width: 100%; height: auto; overflow: hidden; }
.teaser { padding-top: 80px; width: auto; height: 152px; overflow: hidden; position: relative; border-top: 1px solid #373e41; border-bottom: 1px solid #373e41; }
    .teaser .tIco { width: 60px; height: 60px; background: url("../images/images.png") no-repeat #6d7a80; display: block; position: absolute; top: 86px; left: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-transition: all 0.35s; -moz-transition: all 0.35s; }
    .teaser h1 { margin-left: 170px; font-size: 25px; line-height: 36px; padding-right: 20px; }
#spotlight .slides_container a#photoacc1 { width: 200px; height: 12px; top: 98px; left: 296px; }
#spotlight .slides_container a#photoacc2 { width: 166px; height: 12px; top: 117px; left: 296px; }
#spotlight .slides_container a#photoacc3 { top: 175px; left: 297px; }
#spotlight .slides_container a#photoacc4 { top: 175px; left: 378px; }
#popup-work .next { left: 725px; background-position: -420px -32px; }
#popup-work .pagination li a:hover { background: #00ff99; }
#popup-work #popInfosBtn:hover { color: #00ff99; }
#popup-work #popInfos h2 { line-height: 20px!important; }
    #popup-work #popInfos h2 a:hover { color: #00ff99; }
#profil #service ul li:hover { background: #6d7a80; }
    #profil #service ul li:hover h1 { color: white; }
#profil #process ul li > a { width: 140px; height: 100px; text-align: center; background: url("../images/images.png") no-repeat #373e41; display: block; position: relative; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-transition: all 0.35s; -moz-transition: all 0.35s; z-index: 5; }
#profil #process ul li.step1 > a { background-position: 0 -200px; }
#profil #process ul li.step4 > a { background-position: -420px -200px; }
#profil #process ul li.step1:hover a.hover { background-position: 0 -300px; }
#profil #process ul li.step2:hover a.hover { background-position: -140px -300px; }
#profil #process ul li.step3:hover a.hover { background-position: -280px -300px; }
#profil #process ul li.step4:hover a.hover { background-position: -420px -300px; }
#profil #process ul li.step5:hover a.hover { background-position: -560px -300px; }
#profil #process ul li:hover a.hover { background-color: #6d7a80; }
#profil #process ul li:hover h1 { margin-top: 110px; background-color: #373e41; }
#kontakt ul.stalk a:hover { color: #00ff99; }
#footer { margin-top: 30px; width: 100%; height: auto; color: #6d7a80; font-family: Arial, sans-serif; font-size: 11px; line-height: 60px; text-transform: uppercase; background: #373e41; overflow: hidden; position: relative; }
    #footer a { color: #6d7a80; text-decoration: none; }
    #footer ul { margin-left: 50px; overflow: hidden; }
        #footer ul li { margin-right: 10px; float: left; }
            #footer ul li.copy { width: 160px; }
    #footer a#beapanda:hover div { top: -20px; }
#goTop { width: 30px; height: 30px; text-indent: -197666px; background: url("../images/images.png") -359px -32px no-repeat #373e41; display: none; position: fixed; bottom: 15px; right: 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-transition: all 0.35s; -moz-transition: all 0.35s; cursor: pointer; z-index: 50; }

a:hover { color: #00ff99; }
#footer { margin-bottom: -50px; }
#ban { position: absolute; left: 40px; top: 0; height: 140px; width: 60px; border-top: 3px solid #00ff99; }
    #ban img { margin-top: 130px; width: 60px; height: 60px; border-radius: 3px; }
h1, h2 { color: #00ff99; font-family: Arial, san-serif; font-weight: 400; font-size: 16px; line-height: 35px; text-transform: uppercase; position: relative; float: left; }
h2 { margin-bottom: 10px; width: auto; font-size: 20px; line-height: 22px; float: none; }
#introCnt h1 a { text-decoration: none; }
    #introCnt h1 a:hover { color: #00ff99; }
p { margin: 7px 0px; line-height: 20px; }
.textcontent { margin-left: 170px; margin-bottom: 50px; }
.section h2 { font-size: 12px; color: #6D7A80; margin-bottom: 10px; line-height: 18px; }
.teaser { height: auto; min-height: 150px; }
.section h1 { float: none; margin-bottom: 10px; }
    .section h1 a { color: #00ff99; text-decoration: none; }
.tIco { display: block; }
#intro h1#ticker { font-size: 11px; padding-right: 30px; }
#footer ul li.copy { width: 500px; }
.single-img { margin-left: 170px; margin-bottom: 20px; }
.clearfix {*+height:1%; }
.viewer { background-color: #222; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8000000; endColorstr =#D8000000); background-color: rgba(0,0,0,0.75); position: fixed; right: 0; top: 0; left: 0; bottom: 0; display: block; overflow: hidden; z-index: 65536; height: 100%; width: 100%; }
    .viewer li { height: 100%; width: 0%; overflow: hidden; display: none; float: left; text-align: center; position: relative; }
.viewer li.loading > div: { }
.viewer .close:hover { opacity: 1; }
.viewer .caption { color: #aaa; text-shadow: 0 1px 2px rgba(0,0,0,0.8); line-height: 5em; position: absolute; bottom: 0; left: 0; right: 0; visibility: hidden; }
.viewer li.previous { width: 10%; }
.viewer li.next { width: 10%; }
.viewer .current img { -webkit-transform: translateZ(0); }
.text .tIco { background-position: 0px 0px; }
.text:hover .tIco { background-position: 0px -60px; background-color: #00ff99; }
.link:hover .tIco { background-position: -60px -60px; background-color: #00ff99; }
.photo:hover .tIco { background-position: -120px -60px; background-color: #00ff99; }
.audio:hover .tIco { background-position: -180px -60px; background-color: #00ff99; }
.video:hover .tIco { background-position: -240px -60px; background-color: #00ff99; }
#header ul li a:hover { color: #00ff99; }
#header ul#navLeft li.menu { width: 160px; color: #00ff99; }
#header ul#navLeft li.title { width: 160px; display: none; }
    #header ul#navLeft li.title a { color: #00ff99; }
.headerFixed { width: 100%;background: #373e41!important; border-color: #00ff99!important; position: fixed!important; top: 0px; left: 0px; z-index: 999; }
.spotlight .pagination li a:hover { background: #00ff99; }
h1, h2 { color: #00ff99; }
#footer a:hover, #footer #imprintBtn:hover { color: #00ff99; }
#goTop:hover { background-position: -359px -62px; background-color: #00ff99; }