/*主框架CSS*/
.page { width: 1000px; margin: 10px auto; }
.main { float: left; width: 718px; }

/*左侧主内容CSS*/
.box_nav { width: 666px; border: 1px solid #ccc; background-color: white; margin-bottom: 20px; padding: 0 25px;height: 40px;line-height: 40px; }
    .box_nav span {display: block;text-align: center;padding-right:15px; height: 40px;line-height: 40px;float: left;font-size: 14px;}
    .box_nav a {display: block;padding: 0 15px;text-align: center;height: 40px;line-height: 40px;float: left;font-size: 14px;color: #333;}
    .box_nav a:hover {background-color: #3284F3;color: white;text-decoration: none;}
    .box_nav a.on {background-color: #3284F3;color: white;text-decoration: none;}
.box1 { width: 666px; border: 1px solid #ccc; background-color: white; margin-bottom: 20px; padding: 0 25px; border-bottom: 2px solid #125EC4; }
.box1_title { height: 70px; line-height: 70px; border-bottom: 1px dashed #ccc; margin-bottom: 10px; }
    .box1_title h1 { padding: 0; }
        .box1_title h1 a { font-size: 18px; font-family: "微软雅黑"; color: #333; font-weight: bold; }
            .box1_title h1 a:hover { color: #125EC4; text-decoration: none; }
    .box1_title cite { font-size: 14px; font-family: "宋体"; font-style: normal; margin-left: 10px; color: #333; font-weight: normal; }
    .box1_title span { font-size: 12px; font-family: "宋体"; color: #333; }
        .box1_title span a { font-size: 12px; font-family: Tahoma,Arial,"宋体"; color: #125EC4; font-weight: normal; }
.box1_content { padding-bottom: 10px;font-size: 14px; line-height: 200%; }
    .box1_content p { font-size: 14px; line-height: 200%; }
.box1_info { border-top: 1px solid #eee; height: 50px; line-height: 50px; font-size: 12px; }
    .box1_info span { font-size: 12px; font-family: Consolas,"Courier New"; margin-right: 10px; }
    .box1_info a { color: #125EC4; }

/*侧边栏CSS*/
.side_right { float: left; width: 272px; margin-left: 10px; }
.box2 { width: 270px; border: 1px solid #CCCCCC; background-color: white; padding-bottom: 10px; margin-bottom: 10px; }
.box2_title { width: 240px; height: 40px; line-height: 40px; border-bottom: 2px solid #DDDDDD; margin: 0 auto 10px; padding: 0 5px; font-size: 14px; color: #333; }
.box2_content { width: 240px; margin: 0 auto; font-size: 12px; line-height: 200%; }
.box2_content a { color:#125EC4; }

/*评论框CSS*/
.box_comments { border-top: 1px solid #eee; font-size: 12px; padding: 10px 0; }
    .box_comments h3 { font-size: 14px; font-weight: bold; }
    .box_comments a { color: #125EC4; }
.box_comments_list li { line-height: 150%; margin-top: 10px; }
.box_comments_add { margin-top:10px;padding-bottom:10px; }
    .box_comments_add p { margin-top: 5px;}
        .box_comments_add p span { font-family: "宋体" ; }
.box_comments_add input { border: 1px solid #ccc; }
.box_comments_add input.button { border: 1px solid #ccc; }
.box_comments_add textarea { border: 1px solid #ccc; }