<?php
    $now_url = 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
    if(stripos($now_url,'www')) {
        $new_url = str_ireplace('www.', '', $now_url);
        Header("HTTP/1.1 301 Moved Permanently");
        Header("Location: ".$new_url);
    }
?>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta property="qc:admins" content="313252574671566155" />
	<link rel="Shortcut Icon" href="favicon.ico">
	<title>幻蓝阁 - 孤月蓝风的个人领地</title>
	<meta name="keywords" content="孤月蓝风,幻蓝阁,trlanfeng" />
	<meta name="description" content="孤月蓝风，是一个程序猿，也是一个屌丝。在迈向CTO的道路上，不断的前行。网络代号：trlanfeng ." />
	<link rel="stylesheet" type="text/css" href="{CSS}main.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="{JS}Masonry.js"></script>
</head>
<body>
	<div class="header">
		<div class="logo">
			<img src="/images/logo.png" alt="孤月蓝风" width="120" height="121">
		</div>
		<div class="title">
			<h1>幻蓝阁</h1>
			<h2>寒彩随蓝月，温虹伴孤星。</h2>
		</div>
	</div>
	<div id="win8">
 		<div class="box22 box cl1 blog">
 			<a href="/?cat=coding" target="_blank">Coding</a>
 		</div>
		<div class="box23 box cl11">
			<p class="love">
				<a href="" target="_blank">
					<img src="/images/love_bg.png" alt="爱的背景" width="210" height="210">
				</a>
			</p>
			<div class="love_day">
				<p>相恋</p>
				<p class="day" id="day"></p>
				<p>天</p>
			</div>
		</div>
		<div class="box11 box cl2"></div>
		<div class="box32 box cl6">
			<ul class="blog_list">
				<!-- list:cms|status=1|8-->
			    <li><cite>{run:}echo date('Y-m-d',$list['times']){/run}</cite><span></span><a href="{$list['staticurl']}">{$list['name']}</a></li>
				<!-- end -->
			</ul>
		</div>
		<div class="box11 box cl4"></div>
		<div class="box11 box cl9"></div>
		<div class="box21 box cl3 coding">
 			<a href="/?cat=suibi" target="_blank">随笔</a>
        </div>
		<div class="box11 box cl7"></div>
		<div class="box11 box cl8 weiyu"><a href="/?cat=weiyu" target="_blank">微语</a></div>
		<div class="box12 box cl10"></div>
		<div class="box21 box cl4 design">
            <a href="/?cat=design" target="_blank">Design</a>
        </div>
		<div class="box11 box cl9"></div>
		<div class="box11 box cl1"></div>
		<div class="box11 box cl9"></div>
		<div class="box21 box cl5">
			<p class="copy">CopyRight <span>&copy;</span> 2013</p>
			<p class="design_zh">孤月蓝风设计</p>
			<p class="design_en">Designed By Trlanfeng</p>
		</div>
	</div>
    <p style="color:#333;text-align: center;padding: 20px 0;font-size:12px;font-family: 'Courier New';">
        Powered by <a href="http://fengyu.name/?cat=zuopin&id=275" target="_blank" rel="nofollow" style="color:#333;font-family: 'Courier New';">TrackCMS</a>
    </p>
	<script type="text/javascript">
		$('#win8').masonry({
		  itemSelector: '.box',
		  columnWidth: 110
		});
        var nd = new Date();
        var begin = '2012-08-05';
        var end = nd.getFullYear() + '-' + (nd.getMonth()+1) + '-' + nd.getDate();
        var ab = begin.split("-");
        var ae = end.split("-");
        var db = new Date();
        db.setUTCFullYear(ab[0], ab[1]-1, ab[2]);
        var de = new Date();
        de.setUTCFullYear(ae[0], ae[1]-1, ae[2]);
        var unixDb=db.getTime();
        var unixDe=de.getTime();
        var i=0;
        for(var k=unixDb+24*60*60*1000;k<unixDe;){
            // console.log((new Date(parseInt(k))).format());
            k=k+24*60*60*1000;
            i=i+1;
        }
        $("#day").text(i+2);
	</script>
    <!--百度分享：开始-->
    <script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=6&amp;pos=left&amp;uid=686866" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
    </script>
    <!--百度分享：结束-->
    <div style="display: none;">
	    <!--百度统计：开始-->
		<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff16c4ee688fa6baa007060d385e4c378' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<!--百度统计：结束-->
		<!--谷歌分析：开始-->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-39972848-1', 'fengyu.name');
		  ga('send', 'pageview');
		</script>
		<!--谷歌分析：结束-->
		<!--QQ分析：开始-->
		<script type="text/javascript" src="http://tajs.qq.com/stats?sId=23652630" charset="UTF-8"></script> 
		<!--QQ分析：结束-->
	</div>
</body>
</html>