<?php if(constant("TrackCMS!") !== true)die;?>
<div class="side_right">
    <div class="box2">
        <div class="box2_title">公告</div>
        <div class="box2_content">
            <?php ;echo $announce; ?>
        </div>
    </div>
    <div class="box2">
        <div class="box2_title">文章分类</div>
        <div class="box2_content">
            <ul class="submenu">
                <!-- list:category|status=1|20|id DESC-->
                <li class="cat-item"><a href="{$list['staticurl']}">{$list['name']}</a></li>
                <!-- END -->
            </ul>
        </div>
    </div>
    <!--
    <div class="box2">
        <div class="box2_title">最新评论</div>
        <div class="box2_content">
            <?php $_i=0;$QR = $dbit->getquery(TB."comment|status=1|4|"); while($list = $dbit->fetch_array($QR)){$_i++; ?>
            <?php $_iURL=0;$QRURL = $dbit->getquery(TB."cms|id=$list[article_id]|1"); while($listURL = $dbit->fetch_array($QRURL)){$_iURL++; ?>
            <p><a href="/<?php ;echo $listURL['staticurl']; ?>"><?php ;echo $list['name']; ?>：<?php ;echo $list['content']; ?></a></p>
            <?php ;} ?>
            <?php ;} ?>
        </div>
    </div>
    -->
    <div class="box2">
        <div class="box2_title">标签云</div>
        <div class="box2_content">
            <?php $_i=0;$QR = $dbit->getquery(TB."relations||20|counts DESC"); while($list = $dbit->fetch_array($QR)){$_i++; ?>
            <a href="/?tag=<?php ;echo urlencode($list['name']);; ?>"><?php ;echo $list['name']; ?></a>[<?php ;echo $list['counts']; ?>]
            <?php ;} ?>
        </div>
    </div>
    <div class="box2">
        <div class="box2_title">友情链接</div>
        <div class="box2_content">
            <ul class="submenu">
                <?php $_i=0;$QR = $dbit->getquery(TB."link|status=1|20|id DESC"); while($list = $dbit->fetch_array($QR)){$_i++; ?>
                <li class="cat-item"><a href="<?php ;echo $list['urls']; ?>" title="<?php ;echo $list['content']; ?>" target="_blank"><?php ;echo $list['name']; ?></a></li>
                <?php ;} ?>
            </ul>
        </div>
    </div>
</div>
