<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理 - 幻蓝阁</title>
<link href="images/common.css" rel="stylesheet" type="text/css" />
<link href="images/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="images/my-bootstrap.css" rel="stylesheet" type="text/css" />
<!-- <link href="images/bootstrap-theme.min.css" rel="stylesheet" type="text/css" /> -->
<script type="text/javascript" src="images/common.js"></script>
<script type="text/javascript" src="images/jquery.js"></script>
</head>
<body>
<table class="box">
<tr>
	<td colspan="2" class="header">网站内容管理</td>
</tr>
<tr>
	<td class="menu"> {inc:menu} </td>
	<td class="main">
