<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理 - 幻蓝阁</title>
<link href="images/common.css" rel="stylesheet" type="text/css" />
<link href="images/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="images/my-bootstrap.css" rel="stylesheet" type="text/css" />
<!-- <link href="images/bootstrap-theme.min.css" rel="stylesheet" type="text/css" /> -->
<script type="text/javascript" src="images/common.js"></script>
<script type="text/javascript" src="images/jquery.js"></script>
</head>
<body style="background-color: #2E363F;">
    <div class="header">
        网站内容管理
    </div>
	<div class="menu"> {inc:menu} </div>
	<div class="main">
