<?php if(constant("TrackCMS!") !== true)die;?>    <div class="footer">
        <p>Copyright <span>©</span>2013 幻蓝阁 All rights reserved.</p>
		<p>Powered by <a href="http://fengyu.name/?cat=zuopin&id=275" target="_blank" rel="nofollow">TrackCMS</a> &nbsp;&nbsp; Design by <a href="http://fengyu.name">孤月蓝风（Trlanfeng）</a></p>
    </div>
<!--百度分享：开始-->
<script type="text/javascript" id="bdshare_js" data="type=slide&img=7&pos=left&uid=686866" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!--百度分享：结束-->
<!--代码高亮插件：开始-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="http://static.oschina.net/js/syntax-highlighter-2.1.382/scripts/brush.js"></script>
<link type="text/css" rel="stylesheet" href="http://static.oschina.net/js/syntax-highlighter-2.1.382/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="http://static.oschina.net/js/syntax-highlighter-2.1.382/styles/shThemeDefault.css"/>
<script type="text/javascript">
$(document).ready(function(){
	SyntaxHighlighter.config.clipboardSwf = 'http://static.oschina.net/js/syntax-highlighter-2.1.382/scripts/clipboard.swf';
	SyntaxHighlighter.all();
});
</script>
<!--代码高亮插件：结束-->
<!--云推荐：开始-->
<script  type="text/javascript" charset="utf-8"  src="http://tui.cnzz.net/cs.php?id=1000031931"></script>
<!--云推荐：结束-->
<div style="display: none;">
	<!--百度统计：开始-->
	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff16c4ee688fa6baa007060d385e4c378' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<!--百度统计：结束-->
	<!--谷歌分析：开始-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-39972848-1', 'fengyu.name');
	  ga('send', 'pageview');
	</script>
	<!--谷歌分析：结束-->
	<!--QQ分析：开始-->
	<script type="text/javascript" src="http://tajs.qq.com/stats?sId=23652630" charset="UTF-8"></script> 
	<!--QQ分析：结束-->
</div>
</body>
</html>