@charset "utf-8";
/*---公共定义--*/
* {margin: 0;padding: 0;font-family: 宋体;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
img {border: none;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
ul, li {list-style: none;}
.clear {clear: both;width: 0;height: 0;font-size: 0;}
.hide {display: none;}

body {
	background-color: #eee;
}

.fl {float: left;}
.mr8 {margin-right: 8px;}
.mb8 {margin-bottom: 8px;}
.box {margin: 5px; float: left;color: white;}
.box a {color: white;}
.box11 {width: 100px;height: 100px;background-color: red;}
.box12 {width: 100px;height: 210px;background-color: red;}
.box21 {width: 210px;height: 100px;background-color: red;}
.box22 {width: 210px;height: 210px;background-color: red;}
.box32 {width: 320px;height: 210px;background-color: red;}
.box23 {width: 210px;height: 320px;background-color: red;}

.cl1 {background-color: #006DD4;}
.cl2 {background-color: #00A2EB;}
.cl3 {background-color: #124999;}
.cl4 {background-color: #69B40F;}
.cl5 {background-color: #DB3838;}
.cl6 {background-color: #34363C;}
.cl7 {background-color: #F8097F;}
.cl8 {background-color: #DA542D;}
.cl9 {background-color: #FF4300;}
.cl10 {background-color: #F1871A;}
.cl11 {background-color: #F03C23;}

.cl801 {background-color: #F1A30B;}
.cl802 {background-color: #835A2C;}
.cl803 {background-color: #0050EF;}
.cl804 {background-color: #A20025;}
.cl805 {background-color: #1BA0E1;}
.cl806 {background-color: #D90073;}
.cl807 {background-color: #A4C303;}
.cl808 {background-color: #6A00FF;}
.cl809 {background-color: #61A917;}
.cl810 {background-color: #008A00;}
.cl811 {background-color: #765F89;}
.cl812 {background-color: #6D8764;}
.cl813 {background-color: #FA6900;}
.cl814 {background-color: #F473D0;}
.cl815 {background-color: #E51400;}
.cl816 {background-color: #793B3E;}
.cl817 {background-color: #657688;}
.cl818 {background-color: #01ABAA;}
.cl819 {background-color: #AA00FF;}
.cl820 {background-color: #D8C101;}

.header {width: 880px;margin: 0 auto;padding: 0 10px;height: 120px;margin-bottom: 20px;margin-top: 3%;}
.header .logo {float: left;width: 120px;height: 120px;}
.header .title {margin-left: 33px;float: left;}
.header .title h1 {font-size: 48px;font-family: "微软雅黑","楷体","楷体_GB2312";margin-top: 10px;}
.header .title h2 {font-size: 26px;font-family: "楷体","楷体_GB2312";margin-top: 10PX;}

#win8 {width: 900px;margin: 0 auto;}

.blog {width: 210px;height: 210px;line-height: 210px;text-align: center;}
.blog a {font-size: 36px;font-family: "微软雅黑","楷体","楷体_GB2312";}
.coding {width: 210px;height: 100px;line-height: 100px;text-align: center;}
.coding a {font-size: 36px;font-family: "Georgia","微软雅黑","楷体","楷体_GB2312";}
.design {width: 210px;height: 100px;line-height: 100px;text-align: center;}
.design a {font-size: 36px;font-family: "Georgia","微软雅黑","楷体","楷体_GB2312";}
.weiyu {width: 100px;height: 100px;line-height: 100px;text-align: center;}
.weiyu a {font-size: 28px;font-family: "Georgia","微软雅黑","楷体","楷体_GB2312";}

.love {width: 210px;height: 210px;background: url(../images/love.jpg) no-repeat white;}
.love_day {text-align: center;}
.love_day p {line-height: 150%;}
.love_day .day {font-family: "Georgia";font-size: 24px;}

.blog_list {width: 300px;height: 190px;padding: 10px 0 0 20px;}
.blog_list li {line-height: 200%;font-size: 12px;width: 280px;height: 24px;}
.blog_list li span {width: 3px;height: 3px;display: block;float: left;background-color: white;margin-top: 10px;margin-right: 10px;}
.blog_list li cite {float: right;font-style: normal;}
.blog_list li a {display: inline-block;overflow: hidden;width: 190px;height: 24px;}

.copy {font-family: "Courier New";font-size: 12px;padding: 20px 10px 10px;text-align: right;}
.copy span {font-family: "Arial";}
.design_en {font-family: "Courier New";font-size: 12px;padding: 10px;text-align: right;}
.design_zh {font-family: "宋体";font-size: 12px;padding:  0 10px;text-align: right;}